:root {
  --title-color: #212121;
  --subtitle-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #ffffff;
  --footer-text-color: #ffffff;
  --background-color: #ffffff;
}



